__pycache__/
.mypy_cache/
resources/cursor.png
.env
.github/copilot-instructions.md
.idea/CivilTools.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
